/* Reset some default styles */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f2f5;
  color: #333;
}

h1 {
  text-align: center;
  padding: 20px;
  margin: 0;
  background: linear-gradient(60deg, #4b97b4 2%, #0000a0 100%);
  color: #fff;
  font-size: 24px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increased shadow */
}

#container {
  display: flex;
  height: calc(100% - 60px); /* Adjust for header height */
}

#sidebar {
  width: 150px;
  background: linear-gradient(0deg, #4b97b4 2%, #0000a0 100%);
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  transition: width 1s ease 0s;
}
#sidebar:hover{
  width:250px;
}
#sidebar-right {
  width: 250px;
  background-color: #333;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  display: none;
  overflow-y: scroll;
  transition: width 1s ease 0s;
}
#sidebar-right:hover{
  width:450px;
}
.button, .zoombutton {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #1e90ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover, .zoombutton:hover {
  background-color: #007bff;
}

#scene-container {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

canvas {
  display: block;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.514);
  max-width: calc(100vw - 620px); /* Adjust for sidebar width */
  max-height: calc(100vh - 80px); /* Adjust for header height */
  width: 100%;
  height: 100%;
}

#output {
  font-size: 18px;
  margin-top: 20px;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 1000; /* Ensure it's above other elements */
}

/* Styles for the pop-up message */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1001; /* Ensure it's above the overlay */
}

/* Close button style */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #555;
}
